/vendor
/node_modules
/public/storage
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/database/*.sqlite
/database/*.sqlite-journal
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
